Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^destaques$                                          ./link-view.php [L,NC,QSA]

RewriteRule ^images/display$                                        ./public/images/_convert-print.php [L,NC,QSA]
RewriteRule ^newsletter$                                            ./src/applications/interfaces/newsletter-register.php [L,NC,QSA]
RewriteRule ^cadastro/concluir$                                     ./index.php?semantic_url=concluir_cadastro [L,NC,QSA]
RewriteRule ^cadastro/email$                                        ./index.php?semantic_url=continue_email [L,NC,QSA]

RewriteRule ^api/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$      ./src/applications/api/middleware.php?path=$1&component=$2 [L,NC,QSA]

RewriteRule ^blog/([a-zA-Z0-9-z\-\_]+)$                          ./index.php?ctblog=N&semantic_url=posts-by-category&category_url=$1 [L,NC,QSA]
RewriteRule ^blog/([a-zA-Z0-9-z\-\_]+)/$                         ./index.php?ctblog=N&semantic_url=posts-by-category&category_url=$1 [L,NC,QSA]
RewriteRule ^blog/([a-zA-Z0-9-z\-\_]+)/([0-9]+)$                 ./index.php?ctblog=N&semantic_url=posts-by-category&category_url=$1 [L,NC,QSA]
RewriteRule ^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$     ./index.php?ctblog=Y&category_url=$1&semantic_url=$2 [L,NC,QSA]
RewriteRule ^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)/$    ./index.php?ctblog=Y&category_url=$1&semantic_url=$2 [L,NC,QSA]

RewriteRule ^series$                                                                            ./src/applications/series/index.php?ct_main=index&serie_url=index [L,NC,QSA]
RewriteRule ^series/updateContent$                                                              ./src/applications/series/update-content.php [L,NC,QSA]
RewriteRule ^series/print/([a-zA-Z0-9-z\-\_]+)$                                                 ./src/applications/series/print.php?hash=$1 [L,NC,QSA]
RewriteRule ^series/download/([0-9]+)-([a-zA-Z0-9-z\-\_]+)$                                     ./public/documents/force-download.php?id_account=$1&hash=$2 [L,NC,QSA]
RewriteRule ^series/static/(.*)$                                                                ./src/applications/series/static/$1 [L,NC,QSA]
RewriteRule ^series/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$                                  ./src/applications/series/index.php?ct_main=view-serie&serie_url=$1&season_short_key=$2 [L,NC,QSA]
RewriteRule ^series/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)/([0-9]+)-([a-zA-Z0-9-z\-\_]+)$    ./src/applications/series/index.php?ct_main=view-episode&serie_url=$1&season_short_key=$2&episode=$3&content_title=$4 [L,NC,QSA]

# LANDING ASSETS
RewriteRule ^launch/stylesheet/(.*)$                             ./public/landings/_global/static/stylesheet/$1 [L,NC,QSA]
RewriteRule ^launch/javascript/(.*)$                             ./public/landings/_global/static/javascript/$1 [L,NC,QSA]
RewriteRule ^launch/images/(.*)$                                 ./public/landings/_global/static/images/$1 [L,NC,QSA]
RewriteRule ^launch/media/(.*)$                                  ./public/landings/_global/static/media/$1 [L,NC,QSA]
RewriteRule ^launch/([a-zA-Z0-9-z\-\_]+)/media/(.*)$             ./public/landings/$1/media/$2 [L,NC,QSA]
RewriteRule ^launch/([a-zA-Z0-9-z\-\_]+)/images/(.*)$            ./public/landings/$1/images/$2 [L,NC,QSA]
RewriteRule ^launch/([a-zA-Z0-9-z\-\_]+)/stylesheet/(.*)$        ./public/landings/$1/stylesheet/$2 [L,NC,QSA]
# LANDING PAGES
RewriteRule ^launch/([a-zA-Z0-9-z\-\_]+)$                        ./public/landings/index.php?launch=$1&subload=index.php [L,NC,QSA]
RewriteRule ^launch/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$   ./public/landings/index.php?launch=$1&subload=$2 [L,NC,QSA]

RewriteRule ^([a-zA-Z0-9-z\-\_]+)$                               ./index.php?semantic_url=$1 [L,NC,QSA]

RewriteRule ^get/(.*)/([a-zA-Z0-9-z\-\_]+)$                      ./public/downloads/force.php?file=$1&custom_name=$2 [L,NC,QSA]
