<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
     <httpErrors existingResponse="PassThrough" />
	   <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
		  <staticTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="image/jpeg" enabled="true" />
			<add mimeType="image/png" enabled="true" />
			<add mimeType="image/svg" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </staticTypes>
		  <dynamicTypes>
			<add mimeType="text/*" enabled="true" />
			<add mimeType="message/*" enabled="true" />
			<add mimeType="application/javascript" enabled="true" />
			<add mimeType="application/x-javascript" enabled="true" />
			<add mimeType="image/jpeg" enabled="true" />
			<add mimeType="image/svg+xml" enabled="true" />
			<add mimeType="application/font-woff" enabled="true" />
			<add mimeType="application/x-font-ttf" enabled="true" />
			<add mimeType="application/octet-stream" enabled="true" />
			<add mimeType="application/font-woff2" enabled="true" />
			<add mimeType="*/*" enabled="false" />
		  </dynamicTypes>
		  <staticContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
		  </staticContent>
		  <dynamicContent>
				<clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="3.00:00:00" />
		  </dynamicContent>
		  <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" dynamicCompressionLevel="8" />
		</httpCompression>
		<urlCompression doDynamicCompression="true" doStaticCompression="true" dynamicCompressionBeforeCache="false" />
        <caching>
            <profiles>
                <add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".ttf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".otf" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".woff2" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".svg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
                <add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" />
            </profiles>
        </caching>
      <rewrite>
         <rules>
            <rule name="Redirect to https" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://leonardoscapinello.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
			
			<rule name="Imported Rule 25" stopProcessing="true">
				<match url="^images/display$"  ignoreCase="true" />
				<action type="Rewrite" url="public/images/_convert-print.php"  appendQueryString="true" />
			</rule>
            <rule name="Imported Rule 1" stopProcessing="true">
               <match url="^newsletter$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
               </conditions>
               <action type="Rewrite" url="./src/applications/interfaces/newsletter-register.php" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 2" stopProcessing="true">
               <match url="^cadastro/concluir$" />
               <action type="Rewrite" url="./index.php?semantic_url=concluir_cadastro" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 3" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 4" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 5" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([0-9]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 6" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=Y&amp;category_url={R:1}&amp;semantic_url={R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 7" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)/$" />
               <action type="Rewrite" url="./index.php?ctblog=Y&amp;category_url={R:1}&amp;semantic_url={R:2}" appendQueryString="true" />
            </rule>
			<rule name="Imported Rule 18" stopProcessing="true">
				<match url="^series$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/index.php?ct_main=index&amp;serie_url=index"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 19" stopProcessing="true">
				<match url="^series/updateContent$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/update-content.php"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 20" stopProcessing="true">
				<match url="^series/print/([a-zA-Z0-9-z\-\_]+)$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/print.php?hash={R:1}"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 21" stopProcessing="true">
				<match url="^series/download/([0-9]+)-([a-zA-Z0-9-z\-\_]+)$"  ignoreCase="true" />
				<action type="Rewrite" url="./public/documents/force-download.php?id_account={R:1}&amp;hash={R:2}"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 22" stopProcessing="true">
				<match url="^series/static/(.*)$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/static/{R:1}"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 23" stopProcessing="true">
				<match url="^series/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/index.php?ct_main=view-serie&amp;serie_url={R:1}&amp;season_short_key={R:2}"  appendQueryString="true" />
			</rule>
			<rule name="Imported Rule 24" stopProcessing="true">
				<match url="^series/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)/([0-9]+)-([a-zA-Z0-9-z\-\_]+)$"  ignoreCase="true" />
				<action type="Rewrite" url="./src/applications/series/index.php?ct_main=view-episode&amp;serie_url={R:1}&amp;season_short_key={R:2}&amp;episode={R:3}&amp;content_title={R:4}"  appendQueryString="true" />
			</rule>
            <rule name="Imported Rule 8" stopProcessing="true">
               <match url="^launch/stylesheet/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/stylesheet/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 9" stopProcessing="true">
               <match url="^launch/javascript/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/javascript/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 10" stopProcessing="true">
               <match url="^launch/images/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/images/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 11" stopProcessing="true">
               <match url="^launch/media/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/media/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 12" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/media/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/media/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 13" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/images/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/images/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 14" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/stylesheet/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/stylesheet/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 15" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./public/landings/index.php?launch={R:1}&amp;subload=index.php" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 16" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./public/landings/index.php?launch={R:1}&amp;subload={R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 17" stopProcessing="true">
               <match url="^([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?semantic_url={R:1}" appendQueryString="true" />
            </rule>
			
         </rules>
      </rewrite>
   </system.webServer>
</configuration>