<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <rewrite>
         <rules>
            <rule name="Redirect to https" stopProcessing="true">
               <match url="(.*)" />
               <conditions>
                  <add input="{HTTPS}" pattern="off" ignoreCase="true" />
               </conditions>
               <action type="Redirect" url="https://leonardoscapinello.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
            </rule>
            <rule name="Imported Rule 1" stopProcessing="true">
               <match url="^newsletter$" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
               </conditions>
               <action type="Rewrite" url="./src/applications/interfaces/newsletter-register.php" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 2" stopProcessing="true">
               <match url="^cadastro/concluir$" />
               <action type="Rewrite" url="./index.php?semantic_url=concluir_cadastro" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 3" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 4" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 5" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([0-9]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=N&amp;semantic_url=posts-by-category&amp;category_url={R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 6" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?ctblog=Y&amp;category_url={R:1}&amp;semantic_url={R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 7" stopProcessing="true">
               <match url="^blog/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)/$" />
               <action type="Rewrite" url="./index.php?ctblog=Y&amp;category_url={R:1}&amp;semantic_url={R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 8" stopProcessing="true">
               <match url="^launch/stylesheet/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/stylesheet/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 9" stopProcessing="true">
               <match url="^launch/javascript/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/javascript/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 10" stopProcessing="true">
               <match url="^launch/images/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/images/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 11" stopProcessing="true">
               <match url="^launch/media/(.*)$" />
               <action type="Rewrite" url="./public/landings/_global/static/media/{R:1}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 12" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/media/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/media/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 13" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/images/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/images/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 14" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/stylesheet/(.*)$" />
               <action type="Rewrite" url="./public/landings/{R:1}/stylesheet/{R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 15" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./public/landings/index.php?launch={R:1}&amp;subload=index.php" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 16" stopProcessing="true">
               <match url="^launch/([a-zA-Z0-9-z\-\_]+)/([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./public/landings/index.php?launch={R:1}&amp;subload={R:2}" appendQueryString="true" />
            </rule>
            <rule name="Imported Rule 17" stopProcessing="true">
               <match url="^([a-zA-Z0-9-z\-\_]+)$" />
               <action type="Rewrite" url="./index.php?semantic_url={R:1}" appendQueryString="true" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>