/*!
 * Bootoast CSS
 * @author odahcam
 * @version 1.0.0
 **/
.alert {
    padding: 15px;
    margin-bottom: 23px;
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
    z-index: 9999;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #4caf50;
}

.alert {
    border: none;
    color: #fff;
}

.alert-success {
    background-color: #0ABB87;
}

.alert-info {
    background-color: #00b3ff;
}

.alert-warning {
    background-color: #ff9800;
}

.alert-danger {
    background-color: #ed145b;
}

.alert .close {
    float: right;
    font-size: 19.5px;
    font-weight: normal;
    line-height: 1;
    color: #000000;
    text-shadow: none;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.alert .close {
    font-size: 34px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.6;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
}

.alert button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: -21px;
    color: inherit;
}

.alert .close {
    color: #fff;
}


.bootoast {
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 13px;
}

.bootoast > .glyphicon {
    display: inline-block;
    float: left;
    font-size: 20px;
    margin-right: 14px;
}

.bootoast > .bootoast-alert-container {
    display: block;
    max-width: 100%;
    overflow: auto;
}

.bootoast > .bootoast-alert-container > .bootoast-alert-content {
    display: table;
    width: 100%;
    height: 100%
}

.bootoast-container {
    position: fixed;
    left: 20px;
    right: 20px;
    top: initial;
    bottom: initial;
    width: 390px;
    max-width: 95%;
    z-index: 4500
}

.bootoast-container.top {
    top: 20px
}

.bootoast-container.bottom {
    bottom: 20px
}

.bootoast-container.right {
    left: initial
}

.bootoast-container.left {
    right: initial
}

.bootoast-container.center {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%)
}