body, html {
    overflow-x: hidden;
}

p {
    font-size: 1.4em;
    line-height: 2.1rem;
    margin: 22px 0;
}


.header {
    background: #000000;
    overflow: hidden;
}


.branding {
    margin: 0 auto;
    width: 220px;
    position: relative;
}

.branding video {
    width: 100%;
    animation: sep;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes sep {
    0%, 100% {
        -webkit-filter: none;
        filter: none;
    }
    50% {
        -webkit-filter: url(#monochrome);
        filter: url(#monochrome);
    }
}

.title-superior {
    color: #39AF6B;
}

.ft-lead h1,
.ft-lead h2,
.ft-lead h3,
.ft-lead h4,
.ft-lead div,
.ft-lead button,
.ft-lead p {
    position: relative;
}

.ft-lead {
    display: block;
    padding-bottom: 160px;
}

.book-cover,
.personal-image {
    margin-top: -180px;
}

.highlight {
    color: #39AF6B;
}

.highlight.red {
    color: #ed145b;
}

.bg-highlight {
    background-color: #39AF6B;
}


ul.presentation li b:first-child {
    display: table;
    margin-bottom: 20px;
    position: relative;
    color: #16af59;
}

ul.presentation li b:first-child::after {
    content: "";
    background: rgba(22, 175, 89, .152);
    color: #16af59;
    width: 100%;
    height: 7px;
    position: absolute;
    bottom: 2px;
    left: 10px;
    z-index: -1;
}


ul.presentation li {
    border-top: 1px rgba(0, 0, 0, .1) solid;
    display: block;
    font-size: 1.3em;
    line-height: 1.6rem;
    margin: 25px 0;
    padding: 20px 0;
    position: relative;
    transition: all .4s;
}

ul.presentation li:first-child {
    border-top: none;
}


.sml {
    font-size: 1.1em;
}

.guarentee {
    margin-top: -20px;
    animation: bounce 20s infinite;
    -webkit-animation: bounce 20s infinite;
}

.guarentee-tx {
    color: #C4A568 !important;
    margin-top: 50px;
}

@keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

@-webkit-keyframes bounce {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
}

.initial_price {
    color: #2cc36b;
}

.text.center {
    text-align: center;
}

ul {
    list-style-type: disc !important;
    list-style-position: initial;
    margin: 30px 0;
}

ul li {
    font-size: 1.2em;
    display: list-item;
    border-top: 1px rgba(0, 0, 0, .1) solid;
    margin: 10px 0;
    padding: 10px 0;
}

ul li:first-child {
    border-top: none;
}

.to_price {
    font-size: 7.5em;
    font-family: 'Montserrat', 'Gilroy', sans-serif;
    font-weight: 600;
}

.last-btn {
    margin: 60px auto 10px auto;
}


.guarentee {
    width: 75%;
    max-width: 75%;
    margin: 40px auto;
}

.guarentee video {
    width: 100% !important;
}


@media (max-width: 720px) {

    .branding {
        padding-top: 30px;
        width: 180px !important;
    }

    .section.twice {
        padding: 30px 0;
    }

    .title-superior {
        text-align: center;
        font-size: .5em;
    }

    h2 {
        font-size: 1.8em;
        line-height: 2.3rem;
        text-align: center;
    }

    h3 {
        font-size: 1.6em;
        line-height: 2rem;
        text-align: center;
    }

    p {
        font-size: 1em;
        line-height: 1.4rem;
        text-align: justify;
    }

    .ft-lead {
        padding-top: 60px;
        padding-bottom: 0;
    }

    p.double {
        font-size: 1em;
        margin: 0;
        text-align: center;
    }

    .personal-image {
        margin-top: 0 !important;
    }

    .book-cover {
        position: relative;
        top: 45px;
        margin: -30px 20px 70px 20px;
    }

    .btn-lg {
        padding: 10px 1.25rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.5;
        border-radius: .3rem;
        text-transform: uppercase;
        margin-top: 30px;
    }

    ul.presentation li {
        font-size: 1em;
    }

    ul li {
        font-size: 1em;
        display: list-item;
        border-top: 1px rgba(0, 0, 0, .1) solid;
        margin: 10px 0;
        padding: 10px 0;
    }

    .to_price {
        font-size: 3.5em;
    }

    .initial_price {
        font-size: 2.8em;
    }

    .text.sml {
        font-size: 1em;
    }
}
